.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/radiator'} GO Radiator
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '/radiator'}Home
          %li
            %a{:href => '/admin'}Admin
          %li
            %a{:href => '/'}Raw Data
