- if !pipeline.nil?
  %div#pipeline{:class => "span4"}
    %h2 #{pipeline.name}
    %div{:class => "progress #{pipeline.progress_css}"}
      %div{:class => "bar", :style => "height:50px;width:#{pipeline.percentage_complete}%"}