- if !pipeline.nil?
  %div#pipeline{:class => "span4"}
    %h2{:class => "pipline-name"} #{pipeline.name}
    %div{:class => "progress progress-common #{pipeline.progress_css}"}
      %div{:class => "bar", :style => "height:50px;width:100%"}