body {
	padding-top: 60px;
	padding-bottom: 40px;
}
div#pipeline {
    margin-bottom: 20px;
    border-bottom: double 1px solid;
}
div#pipeline div.bottom { }
h2 { overflow:hidden; }
div.footer p { text-align: center; clear: both; }

.pipline-name {
    border:1px solid black;
}

.progress-common {
    height: 50px;
}

.progress-success .bar {    
    background-color: #009900;
    background-image: -moz-linear-gradient(top, #009900, #009900);
    background-image: -ms-linear-gradient(top, #009900, #009900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009900), to(#009900));
    background-image: -webkit-linear-gradient(top, #009900, #009900);
    background-image: -o-linear-gradient(top, #009900, #009900);
    background-image: linear-gradient(top, #009900, #009900);
}

@-webkit-keyframes redPulse {
  from { border-color: #bc330d; -webkit-box-shadow: 0 0 0px #333; }
  50% { border-color: #e33100; -webkit-box-shadow: 0 0 60px #e33100; }
  to { border-color: #bc330d; -webkit-box-shadow: 0 0 0px #333; }
}

.red.glow {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.progress-failure .bar {
    background-color: #FF0000;
    background-image: -moz-linear-gradient(top, #FF0000, #FF0000);
    background-image: -ms-linear-gradient(top, #FF0000, #FF0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#FF0000));
    background-image: -webkit-linear-gradient(top, #FF0000, #FF0000);
    background-image: -o-linear-gradient(top, #FF0000, #FF0000);
    background-image: linear-gradient(top, #FF0000, #FF0000);
}

.progress-warning .bar {
    background-color: #ffc613;
    background-image: -moz-linear-gradient(top, #ffc613, #ffc613);
    background-image: -ms-linear-gradient(top, #ffc613, #ffc613);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc613), to(#ffc613));
    background-image: -webkit-linear-gradient(top, #ffc613, #ffc613);
    background-image: -o-linear-gradient(top, #ffc613, #ffc613);
    background-image: linear-gradient(top, #ffc613, #ffc613);
}
.progress-warning.progress-striped .bar {
    background-color: #ffc613;
}
/*Admin Page*/
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; float:left; margin-left: 7px; }
#selectable li { margin: 3px; padding-top: 30px; float: left; width: 24%; height: 40px; font-size: 1em; text-align: center; }

.profile, .profile-create {
    border: solid 1px #d3d3d3;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px;
}

.profile-create {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-name { width: 100%; margin: 5px; }
.profile-name label { float: left; margin-right: 10px; }
.profile-name input { float: left; }
.profile-name input[type="submit"] { margin-left: 10px;}
.profile-pipelines { clear:both; margin: 5px; }
.profile-pipelines span { }
#select-result {
    word-wrap:break-word;
    border: solid 1px #d3d3d3;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px;
}
.pipelines-wrap {word-break: break-all;}

.profile-select { width: 20%; margin:auto; }
